@font-face{
    font-family: Impact, serif;
    src: url(../fonts/impact.ttf) format("truetype");
}
html {
    color: #1D1D1B;
    font-weight: 400;
    font-style: normal;
}

/* Titre */
h5 {
    font-size: 1rem;
}

/************************
    Navbar
 */
#master_nav {
    background-color: #af6356;
    width: 100%;
    z-index: 100;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active{
    color: white;
}
/*
    Nav icon menu
*/
.navbar-light .navbar-toggler-icon{
    background-image: url("/public/images/illustration/layout/menu/list.svg");
}
.navbar-light .navbar-toggler-icon#toggle-icon .closed-icon{
    background-image: url("/public/images/illustration/layout/menu/x-lg.svg");
}

/*
    Btn toggle
*/
.navbar-toggler:focus{
    box-shadow: 0 0 0 2px rgba(255,255,255,0.5);
}

/***************
 Menu panel admin
 ***************/
#nav_admin {
    background-color: #E6DBD7;
}

#admin_menu {
    height: 100vh;
    background-color: #E6DBD7;
}

#logo_master_nav_content {
    margin: auto;
    padding-left: 2rem ;
}

img#menu_logo {
    height: auto;
    width: 85px;
}


a.d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.link-dark.text-decoration-none {
    margin: 0 auto;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link:active {
    background-color: #5D858A;
}

.navbar-light .navbar-toggler {
    border: none;
}

.menu_logo {
    position: absolute;
    top: 0;
    margin-inline: auto;
}

/************************
    Tuile Menu
 */

.menu_tuile {
    height: 130px;
    text-align: center;
    width: 200px;
    gap: 1rem;
    border-radius: 5px;
    background-color: #9CB9BE;
}

.menu_tuile:hover {
    background-color: #5D858A;
}

.menu_tuile svg {
    height: 50px;
    width: 50px;
}

/* Custom pagination */
#pagination {
    background-color: white;
}

.page-link {
    color: #5D858A;
}

.page-link:hover {
    color: white;
    background-color: #5D858A;
}

.page-item.active .page-link {
    background-color: #5D858A;
    color: white;
}
.page-item.active .page-link{
    border-color: #5D858A;
}

.page-item.disable .page-link {


}

/* Media Tablette */
@media (min-width: 768px) {

    h5 {
        font-size: 0.8rem;
    }


    /*Menu sidebar*/
    .menu_tuile {
        height: 15vw;
        width: 15vw;
        gap: 0;
    }

    .menu_tuile svg {
        height: 80px;
        width: 5vw;
    }

}

/*************************/
/********FOOTER***********/
/*************************/

footer {
    background-color: #DC7528;
    height: auto;
}

/****************
    REINSURANCE
****/
footer .reinsurance {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #C75D20;
    padding-block: 3rem;
    color: white;
    gap: 2rem;

}

footer .reinsurance .reinsurance-item {
    font-size: 1.3rem;
}

footer .reinsurance .reinsurance-item i {
    font-size: 1.5rem;
}

/****************
    NETWORK
****/
footer .network_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 23px;
    margin-bottom: 3rem;
    color: white;
    padding-top: 3rem;
}

footer .network_footer h4 {
    font-family: kapelka-new, script, serif;
    font-size: 21px;
}

footer .network_footer .link_network{
    display: flex;
    flex-direction: row;
    gap: 13px;
}

footer .network_footer .link_network div {
    margin-right: 10px;
}

footer .network_footer .link_network a {
    text-decoration: none;
    color: white;
}

footer .network_footer a img {
    width: 31px;
    height: auto;
}


/***************
    ACCORDION
****/

footer .accordion {
    padding-inline: 3rem;
    border-radius: 0;
    padding-bottom: 3rem;
}


footer .accordion-item {
    border: none;
    background-color: #DC7528;
    border-bottom: white solid 2px;
    border-top: white solid 2px;

}

footer .accordion-item:first-of-type {
    border-radius: 0;
}

footer .accordion-item:last-of-type {
    border-radius: 0;
}

footer h2.accordion-header {
    font-family: kapelka-new, script, serif;
    font-size: 15px;
}

footer .accordion-header .accordion-button {

    border-radius: 0;
    background-color: #DC7528;
    color: white;
}

footer .accordion-header .accordion-button:focus {
    border-color: white;
}

footer .accordion-header .accordion-button:after {
    background-image: url("../../public/images/illustration/layout/footer/plus-circle-fill.svg");
}

footer .accordion-header .accordion-button:focus{
    box-shadow: none;
}

footer .accordion-header .accordion-button:not(.collapsed){
    box-shadow: none;
}

footer .accordion-body {
    padding: 1rem 1.25rem;
    color: white;
}

footer .accordion-body a {
    text-decoration: none;
    color: white;
}


/*****************
    MENU FOOTER 3
****/
footer .menu_footer_3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}

a.link_menu_footer {
    color: white;
    text-decoration: none;
}

/***************
    CONTENT DESKTOP
***/
footer .desktop_footer {
    display: none;
}

@media screen and (min-width: 576px ) {

}

@media screen and (min-width: 768px ) {
    /*************************/

}

@media screen and (min-width: 992px ) {
    /**************************/
    /****** Main Nav **********/
    /**************************/
    .navbar-expand-lg .navbar-collapse{
        justify-content: end;
    }

    /*************************/
    /********FOOTER***********/
    /*************************/
    /****************
        REINSURANCE
    ****/
    footer .reinsurance {
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding-block: 1rem;
        gap: 3rem;
    }

    footer .reinsurance .reinsurance-item {
        font-size: 1.2rem;
    }

    footer .reinsurance .reinsurance-item i {
        font-size: 1.3rem;
    }

    /****************
    NETWORK
    ****/
    footer .network_footer {
        display: none;
    }

    /***************
        ACCORDION
    ****/
    footer .accordion {
        display: none;
    }

    /***************
        CONTENT DESKTOP
     */
    footer .desktop_footer {
        padding-top: 4rem;
    }

    footer .logo_footer {
        width: 255px;
        height: auto;
        padding-left: 5rem;
    }

    footer .desktop_footer .sub_content {
        padding-left: 5rem;
        color: white;
    }

    footer .desktop_footer .sub_content h4 {
        font-family: kapelka-new, script, serif;
    }

    footer .desktop_footer .sub_content p {
        max-width: 12rem;
        font-size: .8rem;
    }

    /************
        Column double content
    */
    footer .content_desktop_footer .content_col {
        display: flex;
        flex-direction: column;
    }

    footer .content_col .sub_content {
        padding-inline: 0;
    }

    footer .network_desktop_footer.sub_content {
        padding-left: 0;
        padding-top: 2rem;
    }

    footer .network_desktop_footer.sub_content .link_network {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    footer .network_desktop_footer.sub_content .link_network div {
        padding-top: 1rem;
    }

    footer .network_desktop_footer.sub_content .link_network img {
        width: 35px;
        height: auto;
    }

    footer .content_bottom.sub_content {
        padding-left: 0;
    }


    /***************
        MENU FOOTER3
     */
    footer .menu_footer_3 {
        margin-top: 1rem;
        padding-top: .6rem;
        flex-direction: row;
        gap: 3rem;
        border-top: white solid 2px;
        margin-inline: 10rem;
    }

}


@media screen and (min-width: 1200px ) {

}

@media screen and (min-width: 1400px ) {

}
