/* POSITION DES BLOCKS */
.block {
    height: 100vh
}

.block_auth {
    background-color: #D7534B;
}

#block_auth_logo {
    position: initial !important;
    width: 2fr !important;
    top: 0 !important;
    left: 3% !important;
}

/*CUSTOM FORME*/
button.w-100.btn.btn-lg.btn-primary.login {
    background-color: #D7534B;
    border-color: #D7534B;
    border-radius: 1rem;
}

#login_email, #login_password, #register_email, #register-first-name, #register-last-name, #register-username, #register-password{
    background-color: rgba(93, 133, 138, 0.20);
    border-radius: 1rem;
    color: #4a5568;
}

#auth_logo {
    border-radius: 1rem;
    width: 80px;
    margin-top: 3rem;
}

#auth_logo.register {
    width: 110px;
    margin-top: 3rem;
}

.btn_menu {
    background-color: #DC7528;
    color: white;
}

#illustration_bottom {
    width: 10rem;
}

#illustration_bottom_content {
    background-image: url('../../../public/images/illustration/illsutration_temps.png');
    background-repeat: no-repeat;
    background-size: 90%;
    height: 160px;
    width: 160px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    z-index: 1;
}

#register-login-illustration.register {
    background-image: url(http://[::1]:5173/public/images/illustration/illsutration_temps.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: 10rem;
    background-position-y: -4rem;
    height: 40vh;
    width: 30vw;
    margin: 37vh 0 0 auto;
}

a.btn.btn-outline-primary.btn_switch {
    color: white !important;
    border-color: white !important;
    width: 100%;
    border-radius: 1rem;
}

a:hover.btn.btn-outline-primary:hover.btn_switch {
    color: #DC7528 !important;
    border-color: white !important;
    background-color: white !important;
}

.mobile_switch_content {
    padding: 3rem 0;
    margin: 15rem 0 0;
}

/*******************************/
/********** RGPD ***************/
/*******************************/

a.rgpd_acceptation {
    color: #DC7528;
    font-weight: bold;
}
a:hover.rgpd_acceptation {
    text-decoration: underline;
}

/*********************************/
/******** MEDIA QUERY ***********/
/*******************************/


/** Screen < 992px
*/
@media (max-width: 992px) {

    .block {
        height: auto;
        transform: none !important;
    }

    .block .translate-middle {
        transform: none;
        margin-top: 10rem;
    }

    #block_form_auth {
        position: static !important;
        margin: auto !important;
        transform: initial !important;
        padding-top: 3rem;
    }

    #block_auth_register {
        position: static !important;
        margin-inline: auto;
        padding-top: 3rem;
    }

}

/** Screen > 992px
*/
@media (min-width: 992px) {

    #block_auth_logo {
        position: absolute !important;
        top: 0;
        right: 50%;
        transform: translate(-50%, -50%);
    }

}
